@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  font-family: Inter, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}